.footer {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  color: #ffffff; /* White text */
  backdrop-filter: blur(10px); /* Apply a blur effect for the glass look */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
  border-radius: 8px; /* Optional rounded corners */
  position: relative; /* Create a positioning context */
  overflow: hidden; /* Ensure no overflow issues */
  margin-top: 600px;
}



.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.social-icons a {
  color: white;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .footer h5, .footer h6 {
      font-size: 1.2rem;
  }

  .footer p {
      font-size: 0.9rem;
  }
}
